In [105]:
import numpy as np
import pandas as pd

In [106]:
df = pd.DataFrame(np.random.randn(10, 4),
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'],
                  columns=['one', 'two', 'three', 'four'])
df

        one       two     three      four
a -0.312618 -1.090169 -0.676065 -0.213560
b -2.122499  0.518743  0.492491 -0.030923
c -1.301169  2.504567  1.452744 -1.621923
d -0.612866  0.325074 -0.468087 -0.169261
e  1.318520  0.998487 -1.303492 -0.509943
f  0.186845  0.097003 -1.728154  0.742631
g  0.505597  0.721049  0.690313 -2.381693
h -1.639589  1.082463 -0.194185  1.451886
i  0.069685  0.503993 -0.288951  0.157845
j -0.960602 -0.947948  0.141347 -1.370988